/*.json
/*.csv
sys_*/
audio/
junk/
tester/
fake/
2[0-9][0-9][0-9]/
wmata/
CMakeFiles/
build/
debug/
CMakeCache.txt
Makefile
cmake_install.cmake
install_manifest.txt
recorder
ChanList.csv
*.so
*.a
*.log
*.dylib
.DS_Store
.idea/
cmake-build-debug/
*.code-workspace
/.vscode/
/.vs/
/out/
top_block.py
debug_recorder.py
/cmake_build/
/.cache/
.gitmodules
user_plugins/*/
