/*.json
/*.csv
sys_*/
junk/
tester/
fake/
2015/
2016/
wmata/
CMakeFiles/
build/
debug/
CMakeCache.txt
Makefile
cmake_install.cmake
install_manifest.txt
recorder
config.json
ChanList.csv
*.so
*.a
*.log
*.dylib
.DS_Store
.idea/
cmake-build-debug/
*.code-workspace
/.vscode/
