{ "sources": [
{"center": 857800000.0,
"rate": 2048000.0,
"error": 1800,
"ppm": 0,
"gain": 42,
"digitalRecorders": 4,
"driver": "osmosdr",
"device": "rtl=30"},
{"center": 855700000.0,
"rate": 2048000.0,
"error": 1900,
"ppm": 0,
"gain": 42,
"digitalRecorders": 4,
"driver": "osmosdr",
"device": "rtl=31"},
{"center": 860000000.0,
"rate": 2048000.0,
"error": 1100,
"ppm": 0,
"gain": 42,
"digitalRecorders": 4,
"driver": "osmosdr",
"device": "rtl=32"}
],
"system": {
	"control_channels": [855462500],
	"type": "p25"
	},
"talkgroupsFile": "ChanList.csv"
}
