#! /bin/bash
echo "Encoding: $1" 
filename="$1"
basename="${filename%.*}"
wav="$basename.wav"
eval "nice -n 19 /home/luke/p25-decode/decoder $filename $wav > /dev/null"
eval "nice -n 19 /home/luke/bin/ffmpeg -i $wav  -c:a libfdk_aac -b:a 32k -cutoff 18000 $mp4encoded > /dev/null 2>&1"

echo "Upload: $encoded"  
eval "scp $json $mp4encoded username@server.com:~/smartnet-upload "

